$base-font-size: 16px;

// colors
$black: #000000;
$primary: #FF6464;
$secondary: #00A8CC;
$secondary-light: #EDF7FA;
$dark: #21243D;
$white: #FFFFFF;

// fonts
$font-path: "../fonts/";

// layout
$breakpoint-lg: 1152px;