$base-font-size: 16px;

// colors
$black: #000000;
$dark: #21243D;
$dark-1: #142850;
$gray: #8695A4;
$gray-2: #E0E0E0;
$white: #FFFFFF;

$primary: #FF6464;
$secondary: #00A8CC;
$secondary-light: #EDF7FA;



// fonts
$font-path: "../fonts/";

// layout
$breakpoint-lg: 855px;